<div class="header-container">
  <img
    src="/images/king-william-logo.png"
    alt="King William's Logo"
    class="logo"
  />
  <h1>King William's - Guests</h1>
</div>

<div class="navbar">
  <button onclick="window.location.href='/'" class="footer-button">Return to
    Manage Page</button>
  <button onclick="window.location.href='add-guest'" class="footer-button">Add
    Guest</button>
</div>
<div class="container">
  <div class="search-section" style="margin-left: 3rem;">
    <form action="/guest/all-guests" method="get" class="search-section">
      <div class="filter">
        <label for="guest_id">Guest ID</label>
        <input type="text" name="guest_id" id="guestID" />

        <label for="guest_fname">First Name</label>
        <input type="text" name="guest_fname" id="firstName" />

        <label for="guest_lname">Last Name</label>
        <input type="text" name="guest_lname" id="lastName" />

        <label for="guest_street">Street</label>
        <input type="text" name="guest_street" id="street" />

        <label for="guest_city">City</label>
        <input type="text" name="guest_city" id="city" />

        <label for="guest_country">Country</label>
        <input type="text" name="guest_country" id="country" />

        <label for="guest_postal_code">Postal Code</label>
        <input type="text" name="guest_postal_code" id="postalCode" />

        <label for="guest_email">Email</label>
        <input type="email" name="guest_email" id="email" />

        <label for="guest_phone">Phone</label>
        <input type="tel" name="guest_phone" id="phone" />
      </div>
      <div class="buttons-group">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>

  <div class="results-section">
    <table>
      <thead>
        <tr>
          <th>Guest ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Street</th>
          <th>City</th>
          <th>Country</th>
          <th>Postal Code</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each guests}}
          <tr>
            <td>{{guest_id}}</td>
            <td>{{guest_fname}}</td>
            <td>{{guest_lname}}</td>
            <td>{{guest_street}}</td>
            <td>{{guest_city}}</td>
            <td>{{guest_country}}</td>
            <td>{{guest_postal_code}}</td>
            <td>{{guest_email}}</td>
            <td>{{guest_phone}}</td>
            <td>
              <button
                onclick="window.location.href='/guest/edit-guest/{{this.guest_id}}'"
              >Edit</button>
              <button
                style="background-color:springgreen;"
                onclick="window.location.href='/reservation/add-reservation/{{this.guest_id}}'"
              >Add Reservation</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script src="/js/utility.js"></script>