<div class="header-container">
  <img
    src="/images/king-william-logo.png"
    alt="King William's Logo"
    class="logo"
  />
  <h1>King William's - Employees</h1>
</div>

<div class="navbar">
  <button onclick="window.location.href='/'" class="footer-button">Return
    to Manage Page</button>
  <button
    onclick="window.location.href='add-employee'"
    class="footer-button"
  >Add Employee</button>
</div>
<div class="container">
  <form id="searchForm" action="/employee/all-employees" method="get">
    <div class="search-section" style="margin-left: 3rem;">
      <div class="filter">
        <label for="emp_id">Employee ID</label>
        <input type="text" name="emp_id" id="employeeID" />
        <label for="emp_fname">First Name</label>
        <input type="text" name="emp_fname" id="firstName" />
        <label for="emp_lname">Last Name</label>
        <input type="text" name="emp_lname" id="lastName" />
        <label for="emp_hire_date">Hired Date</label>
        <input type="date" name="emp_hire_date" id="hiredDate" />
        <label for="emp_street">Street</label>
        <input type="text" name="emp_street" id="street" />
        <label for="emp_city">City</label>
        <input type="text" name="emp_city" id="city" />
        <label for="emp_country">Country</label>
        <input type="text" name="emp_country" id="country" />
        <label for="emp_postal_code">Postal Code</label>
        <input type="text" name="emp_postal_code" id="postalCode" />
        <label for="emp_email">Email</label>
        <input type="text" name="emp_email" id="email" />
        <label for="emp_phone">Phone</label>
        <input type="text" name="emp_phone" id="phone" />
        <label for="emp_is_permanent">Is Permanent?</label>
        <select name="emp_is_permanent" id="isPermanent">
          <option value="">Any</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <label for="position_id">Position</label>
        <select id="position" name="position_id" class="top-gap">
          <option value="">Any</option> 
          <option value="1">Manager</option> 
          <option value="2">Assistant</option>
          <option value="3">Head Concierge</option>
          <option value="4">Concierge</option>
          <option value="5">Receptionist</option>
          <option value="6">Housekeeper</option>
          <option value="7">Maintenance Worker</option>
          <option value="8">Chef</option>
          <option value="9">Kitchen Assistant</option>
          <option value="10">Wait Staff</option>
          <option value="11">Doorman</option>
        </select>
      </div>
      <div class="buttons-group">
        <button type="submit">Search</button>
      </div>
    </div>
  </form>

  <div class="results-section">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Hired Date</th>
          <th>Street</th>
          <th>City</th>
          <th>Country</th>
          <th>Postal Code</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Is Permanent?</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        {{#each employees}}
          <tr>
            <td>
              <a href="/employee/details/{{this.emp_id}}">{{this.emp_id}}</a>
            </td>
            <td>{{this.emp_fname}}</td>
            <td>{{this.emp_lname}}</td>
            <td>{{formatDate this.emp_hire_date}}</td>
            <td>{{this.emp_street}}</td>
            <td>{{this.emp_city}}</td>
            <td>{{this.emp_country}}</td>
            <td>{{this.emp_postal_code}}</td>
            <td>{{this.emp_email}}</td>
            <td>{{this.emp_phone}}</td>
            <td>{{#if this.emp_is_permanent}}Yes{{else}}No{{/if}}</td>
            <td>{{lookup ../positions this.position_id}}</td> 
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script src="/js/utility.js"></script>