<!-- KING_WILLIAM_PROJECT/views/room/all-rooms.hbs -->

<div class="header-container">
  <img
    src="/images/king-william-logo.png"
    alt="King William's Logo"
    class="logo"
  />
  <h1>King William's - Rooms</h1>
</div>
<div class="navbar">
  <button onclick="window.location.href='/'" class="footer-button">Return to
    Manage Page</button>
</div>
<div class="container">
  <div class="search-section">
    <form action="/room/search-rooms" method="get">
      <div class="filter">
        <label for="roomNumber">Room Number</label>
        <input
          type="text"
          pattern="[0-9]*"
          title="Please enter a number"
          oninvalid="this.setCustomValidity('Please enter a number')"
          oninput="this.setCustomValidity('')"
          id="roomID"
          name="roomNumber"
          class="entry-input"
        />

        <label for="category">Category</label>
        <select class="entry-input" id="category" name="category">
          <option value="">Any</option>
          <option value="single">Single</option>
          <option value="double">Double</option>
          <option value="suite 1">Suite 1</option>
          <option value="suite 2">Suite 2</option>
          <option value="suite 3">Suite 3</option>
          <option value="suite 4">Suite 4</option>
        </select>
        <label for="occupied">Occupied</label>
        <select class="entry-input" id="occupied" name="occupied">
          <option value="">Any</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <label for="status">Status</label>
        <select class="entry-input" id="status" name="status">
          <option value="">Any</option>
          <option value="Everything is in good condition">Everything is good</option>
          <option value="Something is wrong">Something is wrong</option>
        </select>
      </div>
      <div class="buttons-group">
        <button type="submit">Search</button>
        <button type="button" id="clear-all">Clear</button>
      </div>
    </form>
  </div>

  <div class="results-section">
    <table>
      <thead>
        <tr>
          <th>Room Number</th>
          <th>Category</th>
          <th>Occupied</th>
          <th>Rate</th>
          <th>Seasonal Rate</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each rooms}}
          <tr>
            <td>{{this.rm_id}}</td>
            <td>{{this.rm_category}}</td>
            <td>{{this.rm_is_occupied}}</td>
            <td>{{this.rm_base_rate}}</td>
            <td>{{this.rm_seasonal_rate}}</td>
            <td>{{this.rm_status_desc}}</td>
            <td><button
                onclick="window.location.href='edit-room/{{this.rm_id}}'"
              >Edit</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>

<script src="/js/utility.js"></script>